/**
Balikcisacmetal.com Website
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    /* color: #444444; */
    color: #A1A19D;

    overflow-x: hidden;
  }

  a {
    color: #B4B4B1;
  }

  a:hover {
    color: #B4B4B1;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
  }

  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    /* background: url('images/logometal.jpeg') no-repeat center center; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
  }


  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }

  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    /* background: #106eea; */
    background: transparent;
    color: black;
    /* color: #fff; */
    transition: all 0.4s;
  }

  .back-to-top i:hover {
    border-radius: 50%;
    background: #3284f1;
    color: #fff;
  }

  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }

  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    /* background: #106eea; */
    /* background:#B4B4B1; */
    background: rgba(0,158,232,255);
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
  }

  #topbar.topbar-scrolled {
    top: -40px;
  }

  #topbar .contact-info a {
    line-height: 1;
    color: #fff;
    transition: 0.3s;
  }

  #topbar .contact-info a:hover {
    text-decoration: underline;
  }

  #topbar .contact-info i {
    padding-right: 4px;
    margin-left: 15px;
  }

  #topbar .contact-info i:first-child {
    margin-left: 0;
  }

  #topbar .social-links a {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }

  #topbar .social-links a:hover {
    color: #fff;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    /* background: #ffff; */
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 25px 0;
    top: 40px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

  }

  #header.header-scrolled {
    top: 0;
    padding: 15px;
    background: #ffff;
  }

  #header .logo {
    font-size: 35px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;

  }
  #header .logo a {
    color: #222222;
  }

  #header .logo a span {
    color: #B4B4B1;
    /* color: #ffff; */
  }

  #header .logo img {
    max-height: 50px;
  }

  @media (max-width: 992px) {
    #header {
      padding: 15px;
      top: 0;
    }
    #header .logo {
      font-size: 28px;
    }
  }


  /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-menu > ul {
    display: flex;
  }

  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .nav-menu a {
    display: block;
    position: relative;
    /* color: #222222; */
    color: black;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
    padding: 0 3px;
    font-family: "Open Sans", sans-serif;
  }


  .nav-menu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    /* background-color: #B4B4B1; */
    background-color: red;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
    visibility: visible;
    width: 100%;
  }

  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    /* color: #B4B4B1; */
    color:black;

  }

  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 26px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }

  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }

  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #062b5b;
  }

  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #106eea;
  }

  .nav-menu .drop-down > a:after {
    /* content: " "; */
    font-family: IcoFont;
    padding-left: 5px;
  }

  /* .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  } */

  /* .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  } */

  /* .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
   */
  /* .nav-menu .drop-down .drop-down > a:after { */
    /* content: " "; */
    /* font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
   */
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      /* content: "\ea9d"; */
    }
  }

  /* Mobile Navigation */

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }

  .mobile-nav-toggle i {
    color: #222222;
  }

  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background:rgb(212, 209, 209);
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;

  }

  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mobile-nav a {
    display: block;
    position: relative;
    color: #222222;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }

  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #106eea;
    text-decoration: none;
  }

  .mobile-nav .drop-down > a:after {
    /* content: "\ea99"; */
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }

  .mobile-nav .active.drop-down > a:after {
    /* content: "\eaa1"; */
  }

  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }

  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }

  .mobile-nav .drop-down li {
    padding-left: 20px;
  }

  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }

  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("images/01.jpg");
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
  padding-top: 132px;
  margin-top: 10vh;
  margin-left: 5vw;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 58px;
  }
}


#hero div.slide-title{
  font-size: 40px;
}

@media (max-width: 992px) {
  #hero div.slide-title {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  #hero div.slide-title {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  #hero div.slide-title {
    font-size: 25px !important;
  }
}

#hero span.slide-title-left{
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  color: white;
  background-color: black ;
}
#hero span.slide-title-right{
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  color: black;
  background-color: white ;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  /* color: #106eea; */
  color: white;
  background-color: black ;
}

#hero h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #106eea;
}

#hero .btn-get-started:hover {
  background: #247cf0;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 0px;
  padding-left: 10px;
  color: #222222;
  position: relative;
  font-weight: 600;
}

#hero .btn-watch-video i {
  color: #106eea;
  /* font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px; */
  transition: 0.3s;
}



#hero a.btn-watch-video {
  font-size: 30px;
  }
  
  @media (max-width: 500px) {
    #hero a.btn-watch-video {
      font-size: 18px !important;
      }
  }
  
  @media (max-width: 768px) {
    #hero a.btn-watch-video {
      font-size: 20px;
      }
  }
  @media (max-width: 992px) {
    #hero a.btn-watch-video {
      font-size: 25px;
      }
  }


#hero .btn-watch-video:hover {
  color: #106eea;
}

#hero .btn-watch-video:hover i {
  color: #3b8af2;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }

}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .btn-get-started, #hero .btn-watch-video {
    font-size: 13px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}



.wrapp{
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
}
.prenex{
  margin:10px;
}
@media (max-width: 450px) {
  .wrapp {
    visibility: hidden;
  }

}


a#previous{
  float: left;
  color: black;
  background:rgb(212, 209, 209);
  padding: 6px 10px;
  border-radius: 50%;
}

a#next{
  float: right;
  background:rgb(212, 209, 209);
  color: black;
  padding: 6px 10px;
  border-radius: 50%;
}
  /* -------------end of hero ---
  ---------------------------------- */

  /* fotobar hakkımızda */
  #fotobar {
    width: 100%;
    height: 75vh;
    background: url("images/shutterstock_1839722281.jpg");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  #fotobar:before {
    content: "";
    /* background: rgba(255, 255, 255, 0.6); */
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #fotobar .container {
    position: relative;
    padding-top: 132px;
  }

  @media (max-width: 992px) {
    #hero .container {
      padding-top: 58px;
    }
  }

  #fotobar h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
  }

  #fotobar h1 span {
    color: #106eea;
  }

  #fotobar h2 {
    /* color: #555555; */
    color :#fff;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
  }
/* end of fotobar */

/* unrunfoto  */
#urunfoto {
  width: 100%;
  height: 75vh;
  background: url("images/01.jpg");
  object-fit: cover;
  background-size: cover;
  position: relative;
}

#urunfoto:before {
  content: "";
  /* background: rgba(255, 255, 255, 0.6); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#urunfoto .container {
  position: relative;
  padding-top: 132px;
}

@media (max-width: 992px) {
  #urunfoto .container {
    padding-top: 58px;
  }
}

#urunfoto h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#urunfoto h1 span {
  color: #106eea;
}

#urunfoto h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}
/* end of urunfoto */

/* iletisim kismi */
#bizeulasın {
  width: 100%;
  height: 75vh;
  background: url("images/shutterstock_71674225.jpg");
object-fit:cover;
  background-size: cover;
  position: relative;
}

#bizeulasın:before {
  content: "";
  /* background: rgba(255, 255, 255, 0.6); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#bizeulasın .container {
  position: relative;
  padding-top: 132px;
}

@media (max-width: 992px) {
  #bizeulasın .container {
    padding-top: 58px;
  }
}

#bizeulasın h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#bizeulasın h1 span {
  color: #106eea;
}

#bizeulasın h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

/* end of bize ulasin */


#metalservis {
  width: 100%;
  height: 75vh;
  background: url("images/metal1.jpg");
  object-fit: cover;
  background-size: cover;
  position: relative;
}

#metalservis:before {
  content: "";
  /* background: rgba(255, 255, 255, 0.6); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#metalservis .container {
  position: relative;
  padding-top: 132px;
}

@media (max-width: 992px) {
  #metalservis .container {
    padding-top: 58px;
  }
}

#metalservis h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#metalservis h1 span {
  color: #106eea;
}

#metalservis h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }

  .section-bg {
    background-color: #f6f9fe;
  }

  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
  }

  .section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
  }

  .section-title h3 span {
    color: #106eea;
  }

  .section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
  }

  @media (min-width: 1024px) {
    .section-title p {
      width: 50%;
    }
  }

  /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 20px 0;
    background-color: #f1f6fe;
    min-height: 40px;
    margin-top: 134px;
  }

  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 58px;
    }
  }

  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }

  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }

  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .breadcrumbs ol li + li {
    padding-left: 10px;
  }

  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }

  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }

  /*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services{
  /* background: #C1C3C4; */
  background-color: white;
  background: url("images/backalt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.featured-services .icon-box {
    padding: 30px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #fff;
    /* background: #C1C3C4; */
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }

  .featured-services .icon-box::before {
    content: '';
    position: absolute;
    background: #cbe0fb;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
  }

  .featured-services .icon-box:hover::before {
    /* background: #106eea; */
    background: #C1C3C4;
    top: 0;
    border-radius: 0px;
  }

  .featured-services .icon {
    margin-bottom: 15px;
  }

  .featured-services .icon i {
    font-size: 48px;
    line-height: 1;
    /* color: #106eea; */
    color:#C1C3C4;
    transition: all 0.3s ease-in-out;
  }

  .featured-services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .featured-services .title a {
    color: #111;
  }

  .featured-services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }

  .featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
    color: #fff;
  }

  .featured-services .icon-box:hover .icon i {
    color: #fff;
  }

  @media (max-width: 768px) {
    .featured-services{
      text-align: center;
    }
  }
  @media (max-width: 500px) {
    .featured-services .icon-box {
      padding: 10px;
    }
    .featured-services .icon i {
      font-size: 25px;
     
    }
    .featured-services h4 {
      font-size: 15px;
     
    }
    .featured-services p {
      font-size: 15px;
     
    }
  }

  /* featured metal servisi */
  .featured-service{
    /* background: #C1C3C4; */

    /* background: url("images/backalt.jpg"); */
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    color:black;
  }
  .featured-service .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .featured-service .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }

  /* featured metal servisi icon part */

  .featured-servic{
    background: url("images/shutterstock_1071822749.jpg");
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    color:black;
    width: 100%;
    height: 400px;
    text-align: center;
  }

  .featured-servic .icon {
    display: inline-block;

  }

  .featured-servic .icon i {
    font-size: 90px;
    line-height: 3;
    /* color: #106eea; */
    /* color:#C1C3C4; */
    color: white;
    transition: all 0.3s ease-in-out;
  }

  .featured-servic .icon-box:hover .icon i {
    /* color: #fff; */
    color: black;
    font-size: 80px;
    transition: all 0.3s ease-in;
  }

  #featured-servic .metal-servis-icon{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10%;
    margin-right: 10%;
  }

  @media (max-width: 1000px) {
    /* #featured-servic .icon i{
     font-size: 50px;
    } */
    #featured-servic .metal-servis-icon{
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  @media (max-width: 500px) {
    #featured-servic .icon i {
      font-size: 50px !important;
    }
  }

  /* @media (max-width: 990px) {
    #featured-servic .icon i{
     font-size: 70px;
    }
  } */




  /*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
  background: url("images/02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit:cover;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #f1f6fe;
}

.counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  /* background: #106eea; */
  background:black;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
  border: 5px solid #fff;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #062b5b;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@media (max-width: 500px) {
  .counts .count-box {
    padding-top: 20px;
  }
  .counts span {
    font-size:25px !important;
  }
  .counts .count-box i {
    font-size: 15px !important;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #106eea;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #222222;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #555555;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #3c3c3c;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #106eea;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-links a:hover {
  color: #6ba7f5;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}
.urunlerhover :hover{
  color: blue;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 30px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #106eea !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #106eea;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #106eea;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #106eea;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #3b8af2;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



#about{
  padding-top: 20px;
  margin-top: 0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  margin: auto;
  color: #444444;
  font-size: 14px;
  background: #f1f6fe;
  text-align: center;
  width: 100%;
  position: relative;
  margin-top: 30px;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f1f6fe;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-x h3 {
  margin-bottom: 30px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #106eea;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #0d58ba;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  /* background: #fff; */
  /* background: black; */
  background: url("images/metalfooter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit:cover;
  border-bottom-left-radius:1000px ;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #106eea;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  /* color: #106eea; */
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #106eea;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  /* background: #106eea; */
  /* background: black; */
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;

}

#footer .footer-top .social-links a:hover {
  /* background: #3b8af2; */
  color: blue;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  /* float: left; */
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #444444;
}

@media (min-width: 768px) {
  #footer .footer-x{
    width: 45%;
    display: inline-block;
    margin: 0;
    padding: 0;

  }
  #footer form.footer-y{
    width: 45%;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}
#footer .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

#footer .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

#footer .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#footer .php-email-form .error-message br + br {
  margin-top: 25px;
}

#footer .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#footer .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#footer .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#footer .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#footer .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #106eea;
}

#footer .php-email-form input {
  padding: 20px 15px;
}

#footer .php-email-form textarea {
  padding: 12px 15px;
}

#footer .php-email-form button[type="submit"] {
  background: black;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

#footer .php-email-form button[type="submit"]:hover {
  background: #3b8af2;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#footer .logo {
  font-size: 35px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
  /* width:250px;
  height: 250px; */
}
#footer .logo a {
  color: #222222;
}
#footer .logo img {
  max-height: 60px;
  border-radius: 50%;
}

@media (max-width: 992px) {
  #footer {
    padding: 15px;
    top: 0;
  }
  #footer .logo {
    font-size: 28px;
  }
}


.social-links-2{
  text-align: center;
  padding-top: 10px;


}
.social-links-2 a{
  padding-left: 5px;
  padding-right: 5px;
}

.faq {
  margin-top: 50px;
  padding: 60px 0;
  background: url("images/urun12.jpg")center center;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit:cover;
}
.faq h1{
  color: white;
  margin-top: 90px ;


}
